@font-face {
	font-family: "Filson Pro";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("./filson-pro-cdnfonts/FilsonProRegular.otf") format("woff2");
}
@font-face {
	font-family: "Filson Pro";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("./filson-pro-cdnfonts/FilsonProRegularItalic.otf") format("woff2");
}
@font-face {
	font-family: "Filson Pro";
	font-style: normal;
	font-weight: 250;
	font-display: swap;
	src: url("./filson-pro-cdnfonts/FilsonProThin.otf") format("woff2");
}
@font-face {
	font-family: "Filson Pro";
	font-style: italic;
	font-weight: 250;
	font-display: swap;
	src: url("./filson-pro-cdnfonts/FilsonProThinItalic.otf") format("woff2");
}
@font-face {
	font-family: "Filson Pro";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("./filson-pro-cdnfonts/FilsonProLight.otf") format("woff2");
}
@font-face {
	font-family: "Filson Pro";
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url("./filson-pro-cdnfonts/FilsonProLightItalic.otf") format("woff2");
}
@font-face {
	font-family: "Filson Pro";
	font-style: normal;
	font-weight: 350;
	font-display: swap;
	src: url("./filson-pro-cdnfonts/FilsonProBook.otf") format("woff2");
}
@font-face {
	font-family: "Filson Pro";
	font-style: italic;
	font-weight: 350;
	font-display: swap;
	src: url("./filson-pro-cdnfonts/FilsonProBookItalic.otf") format("woff2");
}
@font-face {
	font-family: "Filson Pro";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("./filson-pro-cdnfonts/FilsonProMedium.otf") format("woff2");
}
@font-face {
	font-family: "Filson Pro";
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url("./filson-pro-cdnfonts/FilsonProMediumItalic.otf") format("woff2");
}
@font-face {
	font-family: "Filson Pro";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("./filson-pro-cdnfonts/FilsonProBold.otf") format("woff2");
}
@font-face {
	font-family: "Filson Pro";
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("./filson-pro-cdnfonts/FilsonProBoldItalic.otf") format("woff2");
}
@font-face {
	font-family: "Filson Pro";
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url("./filson-pro-cdnfonts/FilsonProHeavy.otf") format("woff2");
}
@font-face {
	font-family: "Filson Pro";
	font-style: italic;
	font-weight: 800;
	font-display: swap;
	src: url("./filson-pro-cdnfonts/FilsonProHeavyItalic.otf") format("woff2");
}
@font-face {
	font-family: "Filson Pro";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("./filson-pro-cdnfonts/FilsonProBlack.otf") format("woff2");
}
@font-face {
	font-family: "Filson Pro";
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url("./filson-pro-cdnfonts/FilsonProBlackItalic.otf") format("woff2");
}
